/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    background-color: rgb(31, 31, 31);
}

p{
    font-family: monospace;
    color:rgb(252, 255, 255)
    
}

h1 {
    color:rgb(255, 125, 233);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    ;
}

/* ------------------------- */
/* Inicio xd */
/* ------------------------- */

#Saludo {
    font-size: 3.5em;
    font-family: monospace;
}

.Saluton {
    font-size: 1em;
    text-align: justify;
    border-left: 5px solid rgb(255, 205, 242);
    margin-left: 30%;
    padding-left: 10px;
    margin-right: 20%;
    animation: Saluton 2.3s ease-in-out;
}

@keyframes Saluton {
    0% {
    transform: translateY(-100px);
    }
    60% {
    transform: translateY(20px);
    }
    80% {
    transform: translateY(-25px);
    }
    100% {
    transform: translateY(0);
    }
}


/* ------------------------- */
/* Pág. Sobre Mí */
/* ------------------------- */

.div1 {
    margin-top: 15%;
    margin-left: 40%;
    font-size: 1em;
    margin-right: 10%;
    margin-bottom: 2%;

}


.titulo-pag {
    font-size: 2em;
    margin-left: 22%;
    margin-bottom: 20px;
}

.escribir {
    text-align: justify;
    margin-left: 27%;
    border-left: 5px solid rgb(255, 205, 242);
    padding-left: 10px;
}

.animate__heartBeat {
    font-size: .6em;
    margin-top: 10%;
    margin-left: 82%;
}

.animate__heartBeat{
    animation: infinite; /
}

/* ------------------------- */
/* Pág. Sobre Mí 2.0 */
/* ------------------------- */


.escribir2{
    text-align: justify;
    border-left: 5px solid rgb(255, 205, 242);
    padding-left: 10px;
    margin-left: 7%;
}
.div2 {
    margin-left: 45%;
    font-size: 22px;
    margin-right: 8%;
    margin-top: 3%;
}
.titulo-pag2 {
    font-size: 2em;
    margin-bottom: 20px;
}


/* ------------------------- */
/* Pág. Habilidades */
/* ------------------------- */

#habilidad-titulo{
    font-size: 2em;
    margin-bottom: 3%;
    margin-right: 10%;
}

#habilidad{
    margin-top: 3%;
    margin-left: 7%;
    font-size: .8em;
    margin-right: 50%;
}

#PHabi{
    text-align: justify;
    border-left: 5px solid rgb(255, 205, 242);
    padding-left: 10px;
}

/* ------------------------- */
/* Pág. Gustos */
/* ------------------------- */

#textoA{
    margin-top: 16%;
}

#amberH1 {
    margin-bottom: 2%;
    margin-right: 80px;
    font-size: 1.5em;

}

#PAmber{
    padding-left: 10px;
    border-left: 5px solid rgb(255, 205, 242);
    margin-right: 7%;
    font-size: .8em;
    text-align: justify;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */

#Aloh{
    font-size: 2.7em;
    margin-top: 15%;
}

#nousi {
    font-size: 1em;
    margin-left: 20%;
}
.redes-sociales{
    display: flex;
    margin:0;
    justify-content: center;
    font-size: 80px;
}

.redes-sociales a{
    display: flex;
    width: 120px;
    height: 120px;
    color: rgb(255, 166, 225);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 15px;
}

.instagram:hover{background-color: rgb(255, 166, 225);}
.discord:hover{background-color: rgb(255, 166, 225);}
.twitter:hover{background-color: rgb(255, 166, 225);}

/* ------------------------- */
/* Imagenes */
/* ------------------------- */

#yo {
    margin-left: 13%;
    float: left;
    margin-top:10%;
}

#más {
    float: left;
    margin-left: 5%;
}

#amber {
    float: left;
}

#hab{
    margin-top: 4%;
    float: right;
    margin-right: 5%;
}

#bye{
    float: right;
    margin-right: 50px;
    margin-top: 7%;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */

#fp-nav ul li a span {
    background: rgb(253, 134, 194);
}

#fp-nav ul li .fp-tooltip {
    color:rgb(253, 134, 194);
}

/* ------------------------- */
/* Menú de Navegación */
/* ------------------------- */

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sens-serif;
    font-size: 19px;
    color: #e9e9e9;
    transition: .5s easer;
}

.nav li.active {
    border-bottom: 2px solid rgb(250, 139, 213);
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: rgb(255, 185, 234);
}

/* ------------------------- */
/* Flechas de Slide */
/* ------------------------- */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left: 50px;
    border-width: 20px 20px 20px 0;
    border-color: transparent rgb(255, 185, 234) transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 50px;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent rgb(255, 185, 234);
}


/* ------------------------- */
/* Correo escondido */
/* ------------------------- */

#texto{
    margin-top: 10%;
    border: 3px solid rgb(255, 185, 234);
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 18px;
    font-size: 1em;
    margin-left:15%;
    background-color: rgb(82, 82, 82);
    resize: horizontal;
}


/* ------------------------------------------- */
/* RESPONSIVE */
/* ------------------------------------------- */



@media screen and (max-width: 900px){

    /* Fuera nav xd */
    .nav {
        display: none;
    }
    
    /* Inicio, al saludar */
    #Saludo {
        font-size: 1.5em;
        font-family: monospace;
    }
    
    .Saluton {
        font-size: .5em;
        border-left: 3px solid rgb(255, 205, 242);
        margin-left: 20%;
    }

    /* Sobre mí O.O  */
    .titulo-pag {
        margin-top: -27%;
        margin-left: -90px;
        font-size: 1em;
    }
    
    .escribir {
        margin-left: -90px;
        margin-right: 28px;
        margin-top: -35%px;
        font-size: 0.5em;
        text-align: justify;
        border-left: 5px solid rgb(255, 205, 242);
        padding-left: 10px;
    }
    
    .animate__heartBeat {
        display: none;
    }
    
    .animate__heartBeat{
        animation: infinite; /
    }

    #yo {
        margin-top: -90px;
        float: none;
        margin-left: 25%;
        width: 200px;
    }

    /* Parte 2 */
    #más {
        float: none;
        display: none;
    }

    .escribir2{
        border-left: 3px solid rgb(255, 205, 242);
        padding-left: 10px;
        font-size: 0.5em;
        margin-left: -130px;
        margin-right: 24px;
    }
    .div2 {
        margin-left: 45%;
        font-size: 22px;
        margin-right: 8%;
        margin-top: 3%;
    }
    .titulo-pag2 {
        margin-bottom: 20px;
        margin-left: -146px;
    }
    
    /* ------------------------- */
    /* Pág. Habilidades */
    /* ------------------------- */
    #hab{
        float: none;
        display: none;
    }

    #habilidad-titulo{
        margin-right: -20px;
    }

    #habilidad{
        font-size: .5em;
        margin-right: 15%;
    }

    #PHabi{
        border-left: 3px solid rgb(255, 205, 242);
    }

    /* ------------------------- */
    /* Pág. Gustos */
    /* ------------------------- */
    #amber {
        float: none;
        display: none;
    }
    #textoA{
        margin-top: 16%;
    }

    #amberH1 {
        margin-right: -5px;
        font-size: 1em;

    }

    #PAmber{
        border-left: 3px solid rgb(255, 205, 242);
        margin-right: 15%;
        margin-left: 15%;
        font-size: .5em;
        text-align: justify;
    }

    /* ------------------------- */
    /* Footer */
    /* ------------------------- */

    #bye{
        float: nonee;
        display: none;
    }

    #Aloh{
        font-size: 2em;
        margin-top: 15%;
    }

    #nousi {
        font-size: .8em;
        margin-left: 20%;
    }

}




